<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bq_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <bq_Client.Properties.Settings>
      <setting name="LocalIP" serializeAs="String">
        <value>58.247.103.90</value>
      </setting>
      <setting name="LocalPort" serializeAs="String">
        <value>9556</value>
      </setting>
      <setting name="DTUIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Internal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MasterNum" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PackNum" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="HistoryMasterIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HistoryPackIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>192.168.1.47</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>bq01</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>BQ000000bq</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>datacloud</value>
      </setting>
    </bq_Client.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisDark</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>